syntax glob
.pyc
.deb
.bak
.tar.bz2
.tar.gz
.7z
.zip
.exe
.po~
.gcode
darwin-Cura-
win32-Cura-
linux-Cura-
Printrun
.idea
.DS_Store
Curacurrent_profile.ini
Curapreferences.ini
Curamru_filelist.ini
cura.sh
pypy
python
printrun.bat
cura.bat
object-mirror.png
object.png
darwin.dmg
scriptsdarwindist
scriptsdarwinbuild
scriptsdarwinCura.dmg.sparseimage
scriptswin32dist
scriptslinuxdebianusrsharecura
log.txt
output.txt
.git
.hgignore
.hgsubstate
CuraEngine
Power
